
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Webpage</title>
    </head>
    <body>
      <h1>Lunch Break </h1>
        <p> We'll be right back </p>
    </body>

  </html>
